.mainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.taskDiv {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datesDiv {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
  }

  .rateDiv {
      width: 60px;
      height: 60px;
      background-color: rgba(26, 216, 22, 0.54);
      border-radius: 10px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.btnsDiv {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.leftBtns {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.rightBtns {
    display: flex;
    width: 50%;
    height: 100%;
}